.profile {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 87px;
}

.avatar {
    width: 96px;
    height: 96px;
}

.profile_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #0D1C2E;
}